# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Maven
# ==========================
target/

# ==========================
# Node
# ==========================
node_modules/
dist/

# Logs
*.log

# Environment files
.env

# OS Files
.DS_Store
Thumbs.db